body {
    background-color: hsl(217, 19%, 24%);
    color: white;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


.container {
    width: 80%;
    max-width:  1440px;
    margin: 0 auto;
    padding: 20px;
}

.advice-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: row;
    text-align: center;
}

.advice-card {
   text-align: center; 
   background-color:hsl(217, 14%, 32%);
   width: 30%;
    border-radius: 16px;
    font-size: 1.3em;
    height: 30%;
    padding: 75px;
}

.advice-card p {
    font-weight: bold;
  
}

.advice-card span {
    font-size: 0.4em ;
    margin-bottom: 0 auto;
    font-weight: bold;
    letter-spacing: 5px;
}

.middile-img  {
    text-align: center;
   height: 5%;

}

.advice-card span {
    color: hsl(150, 90%, 64%);
}



.attribution {
    text-align: center;
    position: relative;
}

.buttonBox {
   position: relative;
   top: 90px;
}

.dice {
    background-color:  hsl(150, 100%, 66%);
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
 
}

.dice:hover {
    background-color:  hsl(150, 79%, 79%);
    transition: all 400ms ease;
}


@media screen and (max-width: 1440px) {
    .advice-card {
        text-align: center; 
        background-color:hsl(217, 14%, 32%);
        width: 40%;
         border-radius: 16px;

         height: 30%;
         padding: 45px;
     }

     .advice-card p {
        font-weight: bold;
        font-size: 0.9em;
    }

    .middile-img  {
        text-align: center;
       height: 8px;
    
    }

    .button-img  {
        position: relative;
        right: 232px;
        background: none;
        top: 150px;
        background: none;
    
    }
    
    .buttonBox {
        position: relative;
        top: 70px;
     }


}


@media screen and (max-width: 640px){ 
    .advice-card {
        text-align: center; 
        background-color:hsl(217, 14%, 32%);
        width: 50%;
         border-radius: 16px;

         height: 24%;
         padding: 55px;
     }
    
    .advice-card p {
        font-weight: bold;
        font-size: 0.7em;
    }

    .middile-img  {
        text-align: center;
        
       height: 6px;
    
    }

    .buttonBox {
        position: relative;
        top: 40px;
     }


}






